/*Fuente: Monserrat - Bold*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/*Fuente: Monserrat - Regular*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*Config. generales*/
*{
    margin: 0;
    padding: 0;
}
:root {
    --color-navyDarkBlue_0: #8395a7;
    --color-navyDarkBlue_1: #2d3436;
    --color-navyLightBlue_0: #1d1d5c;
    --color-navyLightBlue_1: #343475;
    --color-hover: rgb(161, 161, 161);
}
.main {
    display: grid;
    grid-template-rows: 75px calc(100vh - 150px) 75px;
    grid-template-areas: 
        "nav"
        "content"
        "footer";
    overflow: hidden;
    height: 100vh;
}
/*Config. de todo el html inicio*/
.inicio {
    color: white;
    width: 100vw;
    height: 100vh;
    background: #0B0B45;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inicio .frase-inicio{
    margin: 0.5em;
}
.inicio .form-inicio {
    height: 35px;
    width: 7.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inicio .form-inicio input[type="file"]{
    display: none;
}
.inicio .form-inicio label{
    color: white;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border-radius: 10px;
    background: var(--color-azul);
    border: 0.3px solid white;
    background: var(--color-navyLightBlue_0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inicio .form-inicio label:hover{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: .5s;
    cursor: pointer;
}
.inicio .form-inicio .loader{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: absolute;
    transform: translateY(-100px);
}
.inicio .form-inicio .loader > span {
    display: inline-block;
    background: purple;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    margin: 0 8px;
    transform: translate3d(0);
    animation: bounce 0.6s infinite alternate;
}
.inicio .form-inicio .loader > span:nth-child(2){
    background: palevioletred;
    animation-delay: 0.2s;
}
.inicio .form-inicio .loader > span:nth-child(3){
    background: rgb(206, 162, 177);
    animation-delay: 0.4s;
}
/*Config. del header*/
.nav {
    display: flex;
    width: 100vw;
    height: 75px;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* COMPONENTES DEL HEADER */
.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 10%;
    height: 100%;
    padding-left: 1em;
}
/*Logo del header: imagen gov.co*/
.logo img{
    object-fit: contain;
    width: 148px;
    height: 34px;
}
.titulo{
    flex: 3 1 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo .texto{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 700;
}
/*Diseño botón que redirecciona a about us*/
.aboutus{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-size: 2em;
    flex: 3 1 10%;
    height: 100%;
    padding-right: 2em;
}
.aboutus a{
    text-decoration: none;
    color: white;
}
.aboutus a:hover{
    color: var(--color-hover);
    transition: 0.2s;
}

/*COMPONENTENS DEL CONTENT*/
.content{
    display: flex;
    background: var(--color-navyDarkBlue_0);
}
/*visualization: Donde se ubica el mapa*/
.content .visualization{
    width: 65%;
    padding: 2em;
}
.content .visualization .visual-map{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 3px solid black;
}
/*App: Donde se visualizan los datos*/
.content .app{
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 2em;
}
/*analisis*/
.content .analisis{
    width: 100%;
    height: 35%;
    margin-bottom: 2em;
}
.content .analisis .title-analisis{
    width: 100%;
    height: 58px;
    background: #222f3e;
    border-radius: 7px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.content .analisis .form-analisis{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-right: .5em;
    padding-left: .5em;
    color: white;
}
.content .analisis .form-analisis label{
    margin: 1em;
    cursor: pointer;
}
.content .analisis .form-analisis input[type="checkbox"]{
    display: none;
}
.content .analisis .form-analisis span{
    background: #424242;
    padding: 10px 20px;
    color: #555;
    text-shadow: 0 1px 4px rgba(0,0,0,.5);
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    transition: 0.5s;
}¿
.content .analisis .form-analisis label:first-child input[type="checkbox"]:checked ~ span {
    background: rgb(218, 88, 88);
    box-shadow: 0 2px 20px rgb(218, 88, 88);
    color: white;
}
.content .analisis .form-analisis label:nth-child(2) input[type="checkbox"]:checked ~ span {
    background: rgb(29, 216, 45);
    box-shadow: 0 2px 20px rgb(29, 216, 45);
    color: white;
}
.content .analisis .form-analisis label:nth-child(3) input[type="checkbox"]:checked ~ span {
    background: rgb(36, 186, 255);
    box-shadow: 0 2px 20px rgb(36, 186, 255);
    color: white;
}
.content .analisis .form-analisis label:nth-child(4) input[type="checkbox"]:checked ~ span {
    background: rgb(231, 253, 29);
    box-shadow: 0 2px 20px rgb(231, 253, 29);
    color: white;
}
.content .analisis .form-analisis label:nth-child(5) input[type="checkbox"]:checked ~ span {
    background: rgb(69, 36, 255);
    box-shadow: 0 2px 20px rgb(69, 36, 255);
    color: white;
}
.content .analisis .form-analisis label:nth-child(6) input[type="checkbox"]:checked ~ span {
    background: rgb(243, 20, 232);
    box-shadow: 0 2px 20px rgb(243, 20, 232);
    color: white;
}
.content .analisis .form-analisis label:nth-child(7) input[type="checkbox"]:checked ~ span {
    background: rgb(223, 12, 12);
    box-shadow: 0 2px 20px rgb(223, 12, 12);
    color: white;
}
.content .analisis .form-analisis label:nth-child(8) input[type="checkbox"]:checked ~ span {
    background: rgb(20, 255, 39);
    box-shadow: 0 2px 20px rgb(20, 255, 39);
    color: white;
}
.content .analisis .form-analisis label:nth-child(9) input[type="checkbox"]:checked ~ span {
    background: rgb(255, 153, 0);
    box-shadow: 0 2px 20px rgb(255, 153, 0);
    color: white;
}
.content .analisis .form-analisis label:nth-child(10) input[type="checkbox"]:checked ~ span {
    background: rgb(62, 15, 77);
    box-shadow: 0 2px 20px rgb(62, 15, 77);
    color: white;
}
/*graphs*/
.content .graphs{
    width: 100%;
    height: 100%;
}
/*COMPONENTES DEL FOOTER*/
.footer{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 75px;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.footer .img-right{
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
    width: 100%;
    height: 100%;
}
.footer .img-right img{
    object-fit: contain;
    width: 186px;
    height: 61px;
}
.noDispo{
    display: none;
}
@keyframes bounce {
    to {
        width: 16px;
        height: 16px;
        transform: translate3d(0, -16px, 0);
    }
}