{% extends 'layout.html' %}

{% block body %}
<div class="content">
    <div class="visualization">
        <div class="visual-map"></div>
    </div>
    <div class="app">
        <div class="analisis">
            <div class="title-analisis"><p>Parámetros generales de zonas productivas</p></div>
            <form class="form-analisis">
                <label><input type="checkbox" class="checkAnalisis" value="cultivos"> Cultivos</label>
                <label><input type="checkbox" class="checkAnalisis" value="construcciones"> Construcciones</label>
                <label><input type="checkbox" class="checkAnalisis" value="bosques"> Bosques</label>
                <label><input type="checkbox" class="checkAnalisis" value="lotesPastoreos"> Lotes de pastoreo</label>
                <label><input type="checkbox" class="checkAnalisis" value="recursosHidricos"> Recursos hídricos</label>
                <label><input type="checkbox" class="checkAnalisis" value="carreteras"> Carreteras</label>
                <label><input type="checkbox" class="checkAnalisis" value="viviendas"> Viviendas</label>
            </form>
        </div>
        <div class="graphs"></div>
    </div>
</div>
{% endblock %}