{% extends 'layout.html' %}

{% block body %}
    {{ form.hidden_tag() }}
    <div class="inicio">
        <h1 class="frase-inicio">Frase</h1>
        <form method="POST" action="/app" class="form-inicio" enctype='multipart/form-data'>
            {{ form.photo }}
            <label for="photo" id="label-photo">
                Load Image
            </label>
            <div class="loader" id="loader">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </form>
        <button id="test-button">click</button>
        <div class="visual-map2" id="visual-map2">
            <img src="" alt="Image Preview" class="image_preview">
            <span class="image_preview"> Image preview</span>
        </div>
    </div>
{% endblock %}