<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/d70f14a51a.js" crossorigin="anonymous"></script>
    <!-- CHART JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script>
    <title>Team 66</title>
</head>
<body>
    {% block body %}

    {% endblock %}
</body>
<script src="{{ url_for('static', filename='js/inicio.js') }}"></script>
<script src="{{ url_for('static', filename='js/available.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</html>