<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/d70f14a51a.js" crossorigin="anonymous"></script>
    <title>Team 66</title>
</head>
<body>
    <div class="main">
        <div class="nav">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}"src="./SourcesFP/logo.png" alt="Gobierno de Colombia" class="img-logo">
            </div>
            <div class="titulo">
                <div class="texto">Zonas Productivas de la Ruralidad de Bogotá</div>
            </div>
            <div class="aboutus">
                <a href="#"><i class="fas fa-users"></i></a>
            </div>
        </div>
        {% block body %}

        {% endblock %}
        <div class="footer">
            <div class="img-left">
                <img src="{{ url_for('static', filename='images/logo-footer.png') }}" alt="Secretaria de Desarrollo Económico">
            </div>
            <div class="img-right">
                <img src="{{ url_for('static', filename='images/logo2-footer.svg') }}" alt="Correlation One">
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>